@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<a href="c:\users\ramsons\source\repos\ramsonsproject\ramsonsproject\pages\error.cshtml.cs">c:\users\ramsons\source\repos\ramsonsproject\ramsonsproject\pages\error.cshtml.cs</a>
<a href="c:\users\ramsons\source\repos\ramsonsproject\ramsonsproject\pages\error.cshtml">c:\users\ramsons\source\repos\ramsonsproject\ramsonsproject\pages\error.cshtml</a>
<p>Please find below link for privacy statments www.google.com.</p>
